{% extends './layout.html' %}
{% block title %}{{message}}{% endblock %}

{% block head %}
{% include "./head.html" %}
<link rel="stylesheet" href="/css/admin.css" />

{% endblock %}
{% block content %}
<div class="container-body" style="height: 500px; text-align: center">
    <div style="margin: 10px;padding: 40px">
        <h1 style="color:red;display: none">Sorry!</h1>
        <h3 style="color: #a19b21" >没有找到相关信息,您可以尝试逛一逛<a href="www.idylan.cn" title="dylan">首页</a></h3>
    </div>
    <p></p>
    <div>
        <img src="/img/icon/404.jpg" />
    </div>
    <div style="padding: 5px;text-align: right">
        <img src="/img/icon/arrow.jpg" width="20px" height="20px">&nbsp;<a href="/" title="dylan">返回首页</a>&nbsp;&nbsp;&nbsp;
    </div>
</div>
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="/javascripts/html5shiv.js"></script>

<![endif]-->

{% endblock %}